* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.blogItems {
  display: flex;
  padding: 7%;
  background-color: whitesmoke;
}
.blogItems h2 {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 500;
  margin-bottom: 3%;
}
.blogItems h1 {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 40px;
  padding-top: 5%;
}
.blogItems h3 {
  font-family: "Hanken Grotesk", sans-serif;
  padding-top: 13%;
  margin-bottom: 2%;
  color: black;
}

.blogItems ol li {
  list-style-position: inside;
  list-style-type: decimal;
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: gray;
  margin-top: 10px;
}
.blogItems ul li {
  font-family: "Hanken Grotesk", sans-serif;
  list-style-position: inside;
  list-style-type: symbols(bullet);
  font-size: 16px;
  font-weight: 700;
  color: gray;
  margin-top: 10px;
}
.blogItems p {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 14px;
  line-height: 25px;
  position: relative;
  right: 20px;
}

#footerItemsmobile {
  padding-top: 10%;
}
#footerItemsmobile p {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 18px;
  padding-left: 5px;
  line-height: 25px;
}
.footerLogo {
  display: block;
  margin: 0 auto;
}
.linksMobile {
  display: flex;
  justify-content: center;
  gap: 10px;
  position: relative;
  bottom: 25px;
}
