@media screen and (min-width: 428px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .firstSection {
    background-color: whitesmoke;
    padding-top: 8rem;
  }
  .firstSection h2 {
    color: black;
    text-align: center;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: 900;
  }
  .firstSection h3 {
    display: none;
  }
  /* .act {
    display: none;
  } */
  .firstSectionmobileParagraph {
    display: none;
  }
  .firstMobileimage,
  .secondMobileimage {
    display: none;
  }
  .firstSection p {
    color: black;
    text-align: center;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 20px;
    font-weight: 500;
  }
  .firstSectionimageFlex {
    display: flex;
    flex-direction: row;
    gap: 70px;
    justify-content: center;
    margin-top: 5%;
  }
  .secondSection {
    padding-top: 5%;
    background-color: whitesmoke;
  }
  .secondSection h2 {
    text-align: center;
    color: black;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 30px;
    padding-top: 4%;
    font-weight: 900;
  }
  .secondSection p {
    color: black;
    text-align: center;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 20px;
    margin-top: 10px;
    font-weight: 500;
  }
  .clientsMobile {
    display: none;
  }
  .solutionsMobile {
    display: none;
  }
  .thirdSectionparagraphMobile {
    display: none;
  }
  .assistanceCardsmobile {
    display: none;
  }
  .impactItemsflex {
    display: flex;
    gap: 50px;
    margin-top: 5%;
    justify-content: center;
    box-shadow: 0px 0px 90px 0.1px rgba(0, 0, 2, 0.1);
  }
  .firstImpactitemsFlex {
    background-color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding-left: 35px;
    padding-right: 35px;
    height: 150px;
  }
  .secondImpactitemsFlex {
    background-color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding-left: 35px;
    padding-right: 35px;
    height: 150px;
  }
  .thirdImpactitemsFlex {
    background-color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding-left: 35px;
    padding-right: 35px;
    height: 150px;
  }
  .fourthImpactitemsFlex {
    background-color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding-left: 35px;
    padding-right: 35px;
    height: 150px;
  }

  .impactItemsflex h4 {
    text-align: center;
    color: orange;
    font-size: 25px;
    font-family: "Hanken Grotesk", sans-serif;
    font-weight: 600;
    margin-top: 5px;
  }
  .impactItemsflex p {
    text-align: center;
    font-size: 16px;
    font-family: "Hanken Grotesk", sans-serif;
    font-weight: 600;
  }
  .thirdSection {
    padding-top: 9%;
  }
  .thirdSection h2 {
    text-align: center;
    font-size: 30px;
    font-family: "Hanken Grotesk", sans-serif;
    color: black;
    font-weight: 900;
  }
  .thirdSection p {
    text-align: center;
    font-size: 20px;
    font-family: "Hanken Grotesk", sans-serif;
    color: black;
    margin-top: 1%;
    font-weight: 500;
  }
  .assistanceFlex {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    margin-top: 5%;
  }
  .firstAssistanceflex {
    display: flex;
  }
  .firstAssistanceflex h3 {
    width: 130px;
    height: 130px;
    text-align: center;
    font-family: "Hanken Grotesk", sans-serif;
    background-color: steelblue;
    position: relative;
    left: 130px;
    top: 5px;
    padding: 15px;
    padding-top: 3.5rem;
    font-weight: 600;
    color: white;
    border-radius: 50%;
  }
  .firstAssistanceflex p {
    width: 470px;
    height: 130px;
    text-align: justify;
    font-family: "Hanken Grotesk", sans-serif;
    background-color: rgb(212, 217, 221);
    padding-top: 1rem;
    padding-left: 9rem;
    font-weight: 600;
    color: gray;
    border-radius: 70px;
    font-size: 13px;
    line-height: 20px;
  }
  .secondAssistanceflex {
    display: flex;
  }
  .secondAssistanceflex h3 {
    width: 130px;
    height: 130px;
    text-align: center;
    font-family: "Hanken Grotesk", sans-serif;
    background-color: orange;
    position: relative;
    left: 130px;
    top: 5px;
    padding: 15px;
    padding-top: 3.5rem;
    font-weight: 600;
    color: white;
    border-radius: 50%;
  }
  .secondAssistanceflex p {
    width: 470px;
    height: 130px;
    text-align: justify;
    font-family: "Hanken Grotesk", sans-serif;
    background-color: rgb(243, 217, 221);
    padding-top: 2.5rem;
    padding-left: 10rem;
    font-weight: 600;
    color: gray;
    border-radius: 70px;
    font-size: 13px;
    line-height: 20px;
  }
  .fourthSection {
    padding-top: 6%;
    background-color: whitesmoke;
    font-family: "Hanken Grotesk", sans-serif;
  }
  .fourthSection h2 {
    text-align: center;
    font-size: 25px;
    font-family: "Hanken Grotesk", sans-serif;
  }
  .fourthSectionparagraph {
    font-family: "Hanken Grotesk", sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
  }
  .solutionsMobile {
    display: none;
  }
  .solutionsFlexmobile {
    display: none;
  }
  .solutionFlex {
    display: flex;
    gap: 30px;
    padding-top: 3%;
    justify-content: center;
    box-shadow: 0px 0px 90px 0.1px rgba(0, 0, 2, 0.1);
  }
  .solutionFlex h3 {
    text-align: center;
    color: steelblue;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 16px;
  }
  .solutionFlex p {
    font-family: "Hanken Grotesk", sans-serif;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
    color: gray;
  }
  .firstSolutionflex {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 35px;
    background-color: white;
    border-radius: 45%;
    border-bottom: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .secondSolutionflex {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 35px;
    background-color: white;
    border-radius: 45%;
    border-bottom: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .thirdSolutionflex {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 35px;
    padding-top: 2.4%;
    background-color: white;
    border-radius: 45%;
    border-bottom: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .fourthSolutionflex {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 35px;
    background-color: white;
    border-radius: 45%;
    border-bottom: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .clients {
    padding: 7%;
  }
  .clients h4 {
    text-align: center;
    font-size: 25px;
    text-align: center;
    font-family: "Hanken Grotesk", sans-serif;
  }
  .clientsImageflex {
    display: flex;
    gap: 50px;
    padding-top: 3%;
    justify-content: space-around;
  }
  .btnImage {
    display: flex;
    justify-content: center;
    padding: 7%;
  }
  .requestParagraphlinkMobile {
    display: none;
  }
  .binImagesmobile {
    display: none;
  }
  .act {
    display: none;
  }
  .requests {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 9%;
    background-color: rgb(212, 217, 221);
  }
  .requestsParagraphlink {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
  }
  .requestsParagraphlink p {
    font-size: 30px;
    font-weight: 900;
    font-family: "Hanken Grotesk", sans-serif;
    word-spacing: 2px;
  }
  .requestsParagraphlink a {
    padding: 10px;
    font-family: "Hanken Grotesk", sans-serif;
    text-decoration: none;
    background-color: steelblue;
    text-align: center;
    width: fit-content;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    font-weight: 800;
  }
}

@media screen and (max-width: 428px) {
  html,
  body {
    overflow-x: hidden;
  }
  .firstSection h2 {
    text-align: center;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: 900;
  }

  .firstparagraph {
    display: none;
  }
  .firstmobileParagraph {
    color: black;
    text-align: center;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 20px;
    font-weight: 500;
  }
  .firstSectionimageFlex {
    display: flex;
    flex-direction: column;
  }
  .firstimage,
  .secondimage {
    display: none;
  }
  .impactItemsflex {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 10%;
    box-shadow: 0px 0px 90px 0.1px rgba(0, 0, 2, 0.1);
  }
  .firstImpactitemsFlex {
    background-color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding-left: 35px;
    padding-right: 35px;
    height: 200px;
    width: 400px;
    margin: 0 auto;
  }
  .secondImpactitemsFlex {
    background-color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding-left: 35px;
    padding-right: 35px;
    height: 200px;
    width: 400px;
    margin: 0 auto;
  }
  .thirdImpactitemsFlex {
    background-color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding-left: 35px;
    padding-right: 35px;
    height: 200px;
    width: 400px;
    margin: 0 auto;
  }
  .fourthImpactitemsFlex {
    background-color: white;
    padding: 15px;
    display: flex;
    width: 400px;
    flex-direction: column;
    border-radius: 10px;
    padding-left: 35px;
    padding-right: 35px;
    height: 200px;
    margin: 0 auto;
  }
  .impactItemsflex h4 {
    text-align: center;
    color: orange;
    font-size: 30px;
    font-family: "Hanken Grotesk", sans-serif;
    font-weight: 500;
    margin-top: 5px;
  }
  .impactItemsflex p {
    text-align: center;
    font-size: 22px;
    font-family: "Hanken Grotesk", sans-serif;
    font-weight: 600;
  }
  .thirdSection {
    padding-top: 20%;
  }
  .thirdSection h2 {
    text-align: center;
    font-size: 30px;
    font-family: "Hanken Grotesk", sans-serif;
    color: black;
    font-weight: 900;
  }
  .thirdparagraph {
    display: none;
  }
  .thirdparagraphMobile {
    text-align: center;
    font-size: 20px;
    font-family: "Hanken Grotesk", sans-serif;
    color: black;
    margin-top: 1%;
    font-weight: 500;
  }
  .assistanceFlex {
    display: none;
  }
  .assistanceCards {
    padding-top: 5px;
  }
  .firstCard {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 20%;
  }
  .firstCard h3 {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    text-align: center;
    background-color: steelblue;
    padding-top: 5rem;
    margin: 0 auto;
    font-weight: 500;
    font-family: "Hanken Grotesk", sans-serif;
    color: white;
    font-size: 25px;
  }
  .firstCard p {
    margin: 0 auto;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 16px;
    text-align: center;
    padding-top: 3rem;
    line-height: 22px;
    font-weight: 600;
  }
  .secondCard h3 {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    text-align: center;
    background-color: orange;
    padding-top: 5rem;
    margin: 0 auto;
    font-family: "Hanken Grotesk", sans-serif;
    color: white;
    font-size: 25px;
    font-weight: 500;
    margin-top: 20%;
  }
  .secondCard p {
    margin: 0 auto;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 16px;
    text-align: center;
    padding-top: 3rem;
    line-height: 22px;
    font-weight: 600;
  }

  .solutionFlex {
    display: none;
  }
  .solutionsMobile {
    padding-top: 15%;
  }
  .fourthSection {
    padding-top: 20%;
  }
  .fourthSection p {
    margin-top: 3%;
  }
  .solutionsMobile h3 {
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 30px;
    text-align: center;
    line-height: 35px;
    font-weight: 800;
  }
  .solutionsMobile p {
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 20px;
    text-align: center;
    line-height: 25px;
    font-weight: 500;
    position: relative;
    margin-top: 5%;
  }

  .firstSolutionsflexMobile h3 {
    text-align: center;
    font-size: 16px;
    color: steelblue;
    font-family: "Hanken Grotesk", sans-serif;
  }
  .firstSolutionsflexMobile p {
    text-align: center;
    font-size: 13px;
    font-family: "Hanken Grotesk", sans-serif;
    font-weight: 600;
    color: gray;
    line-height: 20px;
  }
  .secondSolutionsflexMobile h3 {
    text-align: center;
    font-size: 16px;
    color: steelblue;
    font-family: "Hanken Grotesk", sans-serif;
  }
  .secondSolutionsflexMobile p {
    text-align: center;
    font-size: 13px;
    font-family: "Hanken Grotesk", sans-serif;
    font-weight: 600;
    color: gray;
    line-height: 20px;
  }
  .thirdSolutionsflexMobile h3 {
    text-align: center;
    font-size: 16px;
    color: steelblue;
    font-family: "Hanken Grotesk", sans-serif;
  }
  .thirdSolutionsflexMobile p {
    text-align: center;
    font-size: 13px;
    font-family: "Hanken Grotesk", sans-serif;
    font-weight: 600;
    color: gray;
    line-height: 20px;
  }
  .fourthSolutionsflexMobile h3 {
    text-align: center;
    font-size: 16px;
    color: steelblue;
    font-family: "Hanken Grotesk", sans-serif;
  }
  .fourthSolutionsflexMobile p {
    text-align: center;
    font-size: 13px;
    font-family: "Hanken Grotesk", sans-serif;
    font-weight: 600;
    color: gray;
    line-height: 20px;
  }

  .solutionsFlexmobile {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 10%;
  }
  .firstSolutionsflexMobile {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 25px;
    background-color: white;
    border-radius: 45%;
    border-bottom: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
  }
  .firstSolutionsflexMobile img {
    display: block;
    margin: 0 auto;
  }
  .secondSolutionsflexMobile {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 25px;
    background-color: white;
    border-radius: 45%;
    border-bottom: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
  }
  .secondSolutionsflexMobile img {
    display: block;
    margin: 0 auto;
  }
  .thirdSolutionsflexMobile {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 25px;
    background-color: white;
    border-radius: 45%;
    border-bottom: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
  }
  .thirdSolutionsflexMobile img {
    display: block;
    margin: 0 auto;
  }
  .fourthSolutionsflexMobile {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 25px;
    background-color: white;
    border-radius: 45%;
    border-bottom: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
  }
  .fourthSolutionsflexMobile img {
    display: block;
    margin: 0 auto;
  }
  .clients {
    display: none;
  }
  .btnImage {
    display: none;
  }
  .clientMobile {
    padding-top: 20%;
  }
  .clientMobile h3 {
    text-align: center;
    font-size: 30px;
    font-family: "Hanken Grotesk", sans-serif;
    font-weight: 600;
  }
  .clientsflexMobile {
    padding-top: 10%;
    display: flex;
    flex-direction: row;
    gap: 90px;
  }
  .clientsflexMobile .mobil {
    position: relative;
    top: 50px;
  }
  .requests {
    display: none;
  }
  .requestMobile {
    padding: 5%;
    padding-bottom: 15%;
    background-color: rgba(113, 92, 248, 0.616);
    margin-top: 10%;
  }
  .requestMobile p {
    font-size: 20px;
    font-family: "Hanken Grotesk", sans-serif;
    font-weight: 900;
    line-height: 25px;
    margin-bottom: 30px;
    text-align: justify;
  }
  .requestMobile a {
    text-decoration: none;
    background-color: steelblue;
    color: white;
    padding: 10px;
    font-size: 16px;
    font-family: "Hanken Grotesk", sans-serif;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 10px;
  }
}
